@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

article,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body * {
  max-width: 100%;
}

header,
footer,
main > * {
  padding-inline: clamp(1rem, 12%, 10rem);
}

@media screen and (max-width: 80em) {
  header,
  footer,
  main > * {
    padding-inline: clamp(1rem, 8%, 9.6rem);
  }
}

@media screen and (max-width: 50em) {
  header,
  footer,
  main > * {
    padding-inline: clamp(1rem, 5%, 5rem);
  }
}

ol,
ul {
  list-style: none;
}

input:focus {
  outline: 2px solid var(--primary);
}

:root {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;

  --primary: hsl(12, 88%, 59%);
  --accent: hsl(228, 39%, 23%);

  --dark-color: hsl(233, 12%, 13%);
  --light-color: hsl(13, 100%, 96%);
  --text-color: hsl(227, 12%, 61%);
  --card-color: hsl(0, 0%, 98%);

  --light-weight: 400;
  --medium-weight: 500;
  --heavy-weight: 700;

  font-weight: var(--light-weight);
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-weight: var(--heavy-weight);
  color: var(--accent);
}

p {
  font-weight: var(--light-weight);
  color: var(--text-color);
}

footer {
  background-color: var(--dark-color);
  color: white;
}

@media screen and (max-width: 50em) {
  :root {
    text-align: center;
  }
}

.title {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  line-height: 1.25;
}

@media screen and (max-width: 50em) {
  .title {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

.subtitle {
  font-size: 1.125rem;
  font-weight: var(--medium-weight);
  line-height: 1.125;
  max-width: 32ch;
}

/* Utility classes */
.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.columns * {
  flex: 1;
}

.flex-expand {
  flex-grow: 1;
}

.grid-columns {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 50em) {
  .columns {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .grid-columns {
    grid-auto-flow: row;
    gap: 0;
  }

  .grid-columns img {
    grid-row-start: 1;
  }
}

button {
  background-color: transparent;
}

.button {
  flex: none;
  white-space: nowrap;
  background: var(--primary);
  border-radius: 100vmax;
  color: white;
  font-size: 0.75rem;
  font-weight: var(--heavy-weight);
  padding: 1.5em 2.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px, var(--primary) 0px 4px 8px;
  cursor: pointer;
  transition: all 500ms;
}

.button:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}

.title-md {
  font-size: 2.25rem;
  line-height: 1.25;
}

.body-text {
  font-size: 1.125rem;
  font-weight: var(--medium-weight);
  line-height: 1.125;
  max-width: 32ch;
}

.title-sm {
  /* font-size: 1.125rem; */
  line-height: 1.5;
}

@media (max-width: 50rem) {
  .sm-hidden {
    display: none;
  }
}

/* Sections */
header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  height: 7.5rem;
}

#primary-nav > ul {
  display: inline-flex;
  gap: 2vw;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: var(--heavy-weight);
  color: var(--dark-color);
}
#primary-nav a {
  cursor: pointer;
  transition: all 300ms;
}
#primary-nav a:hover {
  opacity: 0.5;
}

#primary-logo {
  width: 9rem;
  cursor: pointer;
}

#menu-button {
  display: none;
}

@media screen and (max-width: 50em) {
  header .button {
    display: none;
  }

  #primary-nav {
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    inset: 7rem 5% auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 35vh 50vh 100px;
  }

  #primary-nav > ul {
    flex-direction: column;
    padding: 1.25rem 0;
  }

  #primary-nav > ul > li {
    padding: 0.75rem 0;
  }

  #menu-button {
    display: inline-flex;
  }
}

.cover {
  padding-bottom: 3rem;
}

@media (orientation: landscape) {
  .cover {
    min-height: calc(100vh - 7.5rem);
  }
}

.cover-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(1rem, 2.5vw, 2.5rem);
}

@media screen and (max-width: 50em) {
  .cover-title {
    align-items: center;
    gap: 1rem;
  }
}

#cover {
  position: relative;
  overflow-x: clip;
}

#cover::before {
  z-index: -1;
  position: absolute;
  content: url("/images/bg-tablet-pattern.svg");
  right: -10rem;
  top: -10rem;
  overflow: hidden;
}

@media (max-width: 50em) {
  #cover::before {
    content: url("/images/bg-tablet-pattern-sm.svg");
    right: -4.5rem;
    top: -9rem;
  }
  .intro-illustration {
    max-width: 30em;
    margin-inline: auto;
  }
}

@media screen and (max-width: 30em) {
  .intro-illustration {
    max-width: 100%;
  }
}

#benefits > div:first-child {
  display: flex;
  margin-top: 2.75rem;
  margin-right: 3rem;
  flex-direction: column;
  gap: 2rem;
  align-self: flex-start;
}

@media (max-width: 50rem) {
  #benefits > div:first-child {
    align-self: center;
    align-items: center;
    margin-right: 0;
  }
}

#benefits ol {
  list-style: none;
  counter-reset: benefits-counter;
}

#benefits li {
  counter-increment: benefits-counter;
  position: relative;
  margin: 2.5rem 0;
}

#benefits li h3 {
  margin-bottom: 0.75rem;
  max-width: 45ch;
  padding: 0.5rem 0 0.5rem 5rem;
  border-top-left-radius: 100vmax;
  border-bottom-left-radius: 100vmax;
  text-align: left;
  /* min-height: 2.5rem; */
}

#benefits li p {
  margin-left: 5rem;
  max-width: 45ch;
  text-align: left;
}

@media (max-width: 60rem) {
  #benefits li p {
    margin-left: 0;
  }
}

#benefits {
  position: relative;
  overflow-x: clip;
}

#benefits::before {
  z-index: -1;
  position: absolute;
  content: url("/images/bg-tablet-pattern.svg");
  left: -30%;
  top: 20rem;
}

@media (max-width: 50rem) {
  #benefits::before {
    content: url("/images/bg-tablet-pattern-sm.svg");
    left: 60vw;
    top: -50vh;
  }
}

#benefits li::before {
  position: absolute;
  content: "0" counter(benefits-counter);
  display: inline;
  padding: 0.5rem 1.25rem;
  background-color: var(--primary);
  color: white;
  border-radius: 100vmax;
  line-height: 1.5;
  font-weight: var(--heavy-weight);
}

@media (max-width: 50rem) {
  #benefits {
    padding-left: clamp(1rem, 5%, 5rem);
    padding-right: 0;
  }
  #benefits h2,
  #benefits p {
    padding-right: clamp(1rem, 5%, 5rem);
  }

  #benefits li::before {
    left: 0;
  }

  #benefits li h3 {
    background-color: var(--light-color);
  }
}

#quotes {
  text-align: center;
  margin: 5rem 0;
}

@media (max-width: 50rem) {
  #quotes {
    margin: 2rem 0 3rem 0;
  }
}

.carousel {
  display: flex;
  margin: 3rem 0 2rem;
  gap: 1rem;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel > * {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

.carousel-item {
  background-color: var(--card-color);
  margin-top: 2.5rem;
  padding-top: 4rem;
  overflow: visible;
}

@media (min-width: 30em) {
  .carousel {
    scroll-padding-inline: 25px;
  }

  .carousel > * {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 50em) {
  .carousel > * {
    width: calc(33.333% - 1rem);
  }
}

.carousel-item img {
  position: absolute;
  top: -2.5rem;
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.carousel-item p {
  margin: 1.5rem 1.5rem 2rem;
}

.carousel-indicators {
  display: none;
  justify-content: center;
  width: 100%;
  min-height: 1rem;
  margin: 1rem 0 3rem;
}

.carousel-indicators li {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.25rem;
  color: transparent;
  border-radius: 100vmax;
  border: 1px var(--primary) solid;
}

.active {
  background-color: var(--primary);
}

#promotion {
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 2rem;
  background-color: var(--primary);
  background-image: url("/images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}

#promotion h2 {
  color: white;
  max-width: 20ch;
}

@media (max-width: 50rem) {
  #promotion {
    background-image: url("/images/bg-simplify-section-mobile.svg");
  }

  .carousel {
    overflow: hidden;
  }

  .carousel-indicators {
    display: flex;
  }

  #promotion h2 {
    margin: 0 1rem;
  }
}

#promotion button {
  background-color: white;
  color: var(--primary);
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#footer {
  gap: 0;
}

footer nav li {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.updates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.updates {
  display: flex;
  align-self: stretch;
  margin: 0 0.5rem;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

#email {
  background: white;
  color: var(--primary);
  border-radius: 100vmax;
  font-size: 1rem;
  font-weight: var(--medium-weight);
  padding: 1em 1.2em;
  align-self: stretch;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer-links > img {
  max-width: 60%;
  cursor: pointer;
}

.social-links {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.social-links {
  width: 80%;
}

.social-links > img {
  max-width: 2rem;
  cursor: pointer;
  transition: all 300ms;
}

.social-links > img:hover {
  filter: invert(54%) sepia(88%) saturate(3731%) hue-rotate(340deg)
    brightness(100%) contrast(91%);
}

.flow2 {
  align-self: flex-start;
}

footer li > a {
  cursor: pointer;
  transition: 300ms;
}

footer li > a:hover {
  color: var(--primary);
}

@media (max-width: 50rem) {
  .reverse {
    flex-direction: column-reverse;
  }

  footer {
    position: relative;
    padding-bottom: 6rem;
  }
  .updates-container {
    order: 4;
  }

  .flow1 {
    order: 3;
    padding: 0;
  }

  .flow2 {
    align-self: center;
    order: 2;
    padding: 0;
  }

  .social-links {
    width: 100%;
  }

  .footer-links {
    width: 100%;
    align-items: center;
    gap: 2rem;
    order: 1;
  }

  .copyright {
    position: absolute;
    bottom: 0;
    margin: 2rem auto;
  }
}
