@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

article,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body * {
  max-width: 100%;
}

body > * {
  padding-inline: clamp(1rem, 12%, 10rem);
}

@media screen and (max-width: 80em) {
  body > * {
    padding-inline: clamp(1rem, 8%, 9.6rem);
  }
}

@media screen and (max-width: 50em) {
  body > * {
    padding-inline: clamp(1rem, 5%, 5rem);
  }
}

ol,
ul {
  list-style: none;
}

:root {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;

  --primary: hsl(12, 88%, 59%);
  --accent: hsl(228, 39%, 23%);

  --dark-color: hsl(233, 12%, 13%);
  --light-color: hsl(13, 100%, 96%);
  --text-color: hsl(227, 12%, 61%);
  --card-color: hsl(0, 0%, 98%);

  --light-weight: 400;
  --medium-weight: 500;
  --heavy-weight: 700;

  font-weight: var(--light-weight);
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-weight: var(--heavy-weight);
  color: var(--accent);
}

h3,
h4 {
  font-weight: var(--medium-weight);
}

p {
  font-weight: var(--light-weight);
  color: var(--text-color);
}

footer {
  background-color: var(--dark-color);
  color: white;
}

@media screen and (max-width: 50em) {
  :root {
    text-align: center;
  }
}

.title {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  line-height: 1.25;
}

@media screen and (max-width: 50em) {
  .title {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

.subtitle {
  font-size: 1.125rem;
  font-weight: var(--medium-weight);
  line-height: 1.125;
  max-width: 32ch;
}

/* Utility classes */
.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columns * {
  flex: 1;
}

.flex-expand {
  flex-grow: 1;
}

.grid-columns {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 50em) {
  .columns {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .grid-columns {
    grid-auto-flow: row;
    gap: 0;
  }

  .grid-columns img {
    grid-row-start: 1;
  }
}

.button {
  flex: none;
  white-space: nowrap;
  background: var(--primary);
  border-radius: 100vmax;
  color: white;
  font-size: 0.75rem;
  font-weight: var(--heavy-weight);
  padding: 1.5em 2.5em;
}

/* Sections */
header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  height: 7.5rem;
}

#primary-nav > ul {
  display: inline-flex;
  /* flex-grow: 1; */
  gap: 2vw;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: var(--heavy-weight);
  color: var(--dark-color);
}

#primary-logo {
  width: 9rem;
}

.menu {
  display: none;
}

@media screen and (max-width: 50em) {
  header nav,
  header button {
    display: none;
  }

  .menu {
    display: inline-flex;
  }
}

.cover {
  padding-bottom: 3rem;
}

@media (orientation: landscape) {
  .cover {
    min-height: calc(100vh - 7.5rem);
  }
}

.cover-title {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  gap: clamp(1rem, 2.5vw, 2.5rem);
}

@media screen and (max-width: 50em) {
  .cover-title {
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 50em) {
  .intro-illustration {
    max-width: 30em;
    margin-inline: auto;
  }
}

@media screen and (max-width: 30em) {
  .intro-illustration {
    max-width: 100%;
  }
}
